@model RegistroChamado.Models.ChamadoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChamadoModel</h4>
<hr />
<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <label asp-for="DataHora" class="control-label"></label>
            <input asp-for="DataHora" class="form-control" />
            <span asp-validation-for="DataHora" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="SetorId" class="control-label"></label>
                <select asp-for="SetorId" id="listSetor" class ="form-control" asp-items="ViewBag.SetorId"
                        onchange="preencheColaborador(this,listColaborador)"></select>
            </div>
            <div class="col">
                <label asp-for="ColaboradorId" class="control-label"></label>
                <select asp-for="ColaboradorId" id="listColaborador" class ="form-control" asp-items="ViewBag.ColaboradorId"></select>
            </div>
        </div>
        <div class="row">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" class="form-control" ></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Prioridade" class="control-label"></label>
            <select asp-for="Prioridade" class="form-control">
                <option value="Muito Alta">Muito Alta</option>
                <option value="Muito Alta">Alta</option>
                <option value="Muito Alta">Importante</option>
                <option value="Muito Alta" selected>Normal</option>
                <option value="Muito Alta">Baixa</option>
                <option value="Muito Alta">Muito Baixa</option>
            </select>
            <span asp-validation-for="Prioridade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="form-control">
                <option value="Em aberto">Em aberto</option>
                <option value="Aguardando">Aguardando</option>
                <option value="Resolvido">Resolvido</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="row">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<br />
<div class="row">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
